<!DOCTYPE html>
<html lang="en">
    <head> <% include ../partials/head %> </head>
    <body class="with-side-menu dark-theme">
        <header class="site-header"> <% include ../partials/header %> </header>
        <nav class="side-menu"> <% include ../partials/nav %> </nav>
        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                    wdoqwpodwpqodipowi
                </div>
            </div>
        </main>
        <!-- <footer> <% include ../partials/footer %> </footer> -->
    </body>
</html>