<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>sing up</h1>
        <form action="/signup" method="POST">

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter Username">
            </div>

            Nome<input name="username" type="text" /><br />
            senha<input name="password" type="password" /><br/>
            email<input name="email" type="email" /><br/>
            <input type="submit" value="Login" />
        </form>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>